// index
// hero01


#hero01{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
    .container {
        position: relative;
        padding-top: 74px;
        text-align: center;
        h1 {
            margin: 0;
            font-size: 56px;
            font-weight: 700;
            line-height: 64px;
            color: #fff;
            font-family: "Poppins", sans-serif;
            span {
                color: #ffc451;
            }
        }
        h2 {
            color: rgba(255, 255, 255, 0.9);
            margin: 10px 0 0 0;
            font-size: 24px;
        }
    }
}
#hero01:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.counts{
    .content{
        .count-box{
            span{
                margin-left:0px!important;
            }
            p{
                margin-left:0px!important;;
            }
        }
    }
    .setPoint{
        justify-content: center;
    }
}
#contact{
    .contactInf{
        .info{
            width: 100%;
            background: transparent !important;
        }
    }
}
.sendmail{
    background: #ffc451;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
}
.adformLink {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2c976;
    margin: 40px auto;
    color: #000 !important;
    border-radius: 4px;
}
.reason{
    display: flex;
    flex-direction:column;
    justify-content: center;
    h3{
        font-size:2.2em!important;
    }
    p{
        text-align: justify;
        padding-top:40px;
        font-size:1.5em;
    }
}
.services{
    padding: 30px 0!important;
    // background: #efefef;
    .advance{
        .subAdvance{
            .icon-box{
                border:none;
                padding: 30px 20px!important;
                background: none !important;
                .title{
                    color: #ffc451;  
                }
            }
            .description{
                text-align: justify;
            }
        }
    }
}

.serviceInf{
    .block-inf{
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;
        h4{
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(255, 220, 132);
        }
        .leftBlock {
            padding-right: 50px;
            .title{
                font-size:2.5em;
            }
            .description{
                font-size:1.9em;
                text-align: justify;
            }
        }
        .rightBlock{
            img{
                width: 100%;
                height: max-content;
            }
        }
    }  
    .block-center {
        margin-top: 50px;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .hint{
                background-color: #fff;
                text-align: right;
            }
        }
    }
    
}
.serviceInfMall{
    .block-inf{
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;
        h4{
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(255, 220, 132);
        }
        .leftBlock {
            padding-right: 50px;
            align-items: center!important;
            .title{
                font-size:2.5em;
            }
            .description{
                font-size:1.9em;
                text-align: justify;
            }
        }
        .rightBlock{
            align-items: center!important;
            img{
                width: 100%;
                height: max-content;
            }
        }
    }  
    .block-center {
        margin-top: 50px;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .hint{
                background-color: #fff;
                text-align: right;
            }
        }
    }
    
}


.eipsNews{
    .icon-box{
        padding:20px 20px;
        margin-top:20px;
        h5{
            font-size: 1.2em;
        }
    }
}
// 社區EIPS聯播網
#hero00{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg02.jpg) top center;
    background-size: cover;
    position: relative;
    .container {
        position: relative;
        padding-top: 74px;
        text-align: center;
        h1 {
            margin: 0;
            font-size: 56px;
            font-weight: 700;
            line-height: 64px;
            color: #fff;
            font-family: "Poppins", sans-serif;
            span {
                color: #ffc451;
            }
        }
        h2 {
            color: rgba(255, 255, 255, 0.9);
            margin: 10px 0 0 0;
            font-size: 24px;
        }
    }
}
#hero00:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.stepBlock{
    .block-step{
        .block-title-step {
            text-align: center;
            padding-bottom: 40px;
            font-size: 3em;
            font-weight: bold;
        }
        picture.step {
            display: flex;
            .subStep {
                padding: 0px 20px 0px 20px;
                .thumbnail{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .stepTitle {
                        width: 80%;
                        height: 50px;
                        background: rgb(39, 123, 202);
                        color: #fff;
                        border-radius: 20px;
                        padding: 5px;
                        display: flex;
                        margin: 0 auto;
                        align-items: center;
                        justify-content: center;
                        .number{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: #fff;
                            color: #175f8a;
                            display: flex;
                            font-size: 1.4em;
                            align-items: center;
                            justify-content: center;
                            margin-right:35px;
                        }
                    }
                    h5{
                        font-size: 1.2em;
                        padding-top: 20px;
                        text-align: center;
                    }
                    p{
                        font-size: 1.1em;
                        text-align: center;
                        text-align: justify;
                        height:70px;
                    }
                    img{
                        width: 200px !important;;
                    }
                }
            }
        }
    }
}
// 社區EIPS聯播網 end

// hero02
.eipsMall-header{
    background: #000;
}
#hero02{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg03.jpg) top center;
    background-size: cover;
    position: relative;
}
.mallEips{
    .titleContent{
        display:flex;
        flex-direction: column;
        h1{
            color:#fff;
        }
        .adformLink {
            width: 150px;
            height: 50px;
            margin:inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f2c976;
            color: #000 !important;
            border-radius: 4px;
        }
    }
}
#cityInf{
    padding-bottom:0px;
    .container{
        .block-bottom{
            .inf-bottom{
                display: flex;
                flex-direction: column;
                align-items: center!important;
                justify-content: center;
                h5{
                    font-size: 2em;
                }
                p{
                    font-size: 2em;
                    font-weight: bold;
                }
            }
        }
        
    }
}
.picCity{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/city.jpg);
    background-size: cover;
    width: 100%;
    height: 212px;
    background-repeat: no-repeat;
    .linkTitle{
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .link{
        display: flex;
        width: 380px;
        .bookingLink{
            width: 150px;
            height: 50px;
            text-align: center;
            display: block;
            padding: 10px;
            background: #ffe2a7;
            margin: 0px auto;
            color: #000 !important;
            border-radius: 4px;
        }
    }
}

// eipsMall
.mallEipsInf{
    padding-top:40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: #f1f1f1;
    div{
        img{
            width:120px;
            margin-left:35%;
        }
    }
}

.eipsAdvance{
    margin-top:50px;
}

#services{
    .block-inf{
        display: flex!important;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;
    }
    .block-center{
        background: #fff;
    }
}
.picCityBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/city.jpg);
    background-size: contain;
    width: 100%;
    height: 205px;
    background-repeat: no-repeat;
    .linkBlock{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .linkTitle{
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 40px;
            padding-bottom: 15px;
        }
        .link{
            display: flex;
            width: 380px;
            .bookingLink {
                width: 150px;
                height: 50px;
                text-align: center;
                display: flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
                background: #ffe2a7;
                margin: 0px auto;
                color: #000 !important;
                border-radius: 4px;
            }
        }
    }
}

// 社區eip申請
.eipsCommunity-header{
    background:#000;
}
#hero03{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg04.jpg) top center;
    background-size: cover;
    position: relative;
    .landingPageTitle{
        color:#fff;
        .adformLink{
            margin: inherit;
        }
    }
}

.aboutCEIP{
    p{
        font-size: 1.3em;
        text-align: justify;
    }
    .aboutCEIP-pic01{
        width:100%;
    }
    .aboutCEIP-pic02{
        width:100%;
    }
    .title{
        a{
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.advanceEIP{
    padding: 30px 0;
    flex-direction: column;
    background:#f1f1f1;
    .block-inf{
        .block01{
            display: flex;
            align-items: center;
            height:280px;
            img{
                width:100%;
                height: inherit;
            }
        }
        .block02{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height:280px;
            img{
                width:100%;
            }
        }
    }
}
#data-statistics{
    img{
        width:100%;
    }
}
.block-accCommunity{
    padding:0 30px 50px;
    .title{
        display: flex;
        justify-content: center;
        padding:0 30px 0;
        span{
            font-size: 1.4em;
            padding: 0 40px 15px 40px;
            border-bottom: 3px solid #ffc107;
        }
    }
    div{
        .buildPic{
            width:100%;
            // height:170px;
        }
    }
}

// eipsMall
#hero05{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg05.jpg) top center;
    background-size: cover;
    position: relative;
    .container{
        .row{
            .landingPageTitle{
                .titleContent{
                    h1{
                        color:#ffc451;
                    }
                    .adformLink{
                        width: 150px;
                        height: 50px;
                        display: flex;
                        margin:inherit;
                        align-items: center;
                        justify-content: center;
                        background: #f2c976;
                        color: #000 !important;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    
}

.aboutmallEIPS{
    background:#f1f1f1;
    padding:60px 0px;
    .eipContent{
        display:flex;
        flex-direction: column;
        justify-content: center;
        .block-title{
            font-size: 2.2em;
        }
        .block-content{
            padding-top:40px;
            font-size: 1.9em;
        }
    }
    .eipitemPic{
        justify-content: flex-end;
        img{
            width:300px;
            height:inherit;
        }
    }
}
.advancePic{
    width: 100%;
    height: 250px;
    background: url(../img/mall.jpg) top center;
    background-size: cover;
}
.advanceList{
    .eipsAdvance{
        .subAdvance{
            justify-content: center;
            .icon-box{
                text-align: center;
                .title{
                    font-size: 2.2em;
                    font-weight: bold;
                }
                .description{
                    font-size: 1.6em;
                }
            }
        }
    }
}

#block-plan{
    .title{
        display: flex;
        justify-content: center;
        padding:0 30px 0;
        span{
            font-size: 2em;
            font-weight: bold;
            padding: 0 40px 15px 40px;
        }
    }
    .row{
        .machinePic{
            flex-direction: column;
            justify-content: center;
            span{
                text-align: center;
                padding:10px;
                font-size: 1.4em;
            }
        }
    }
}

#block-eipsAdvance{
    .title{
        display: flex;
        justify-content: center;
        padding:0 30px 0;
        span{
            font-size: 2em;
            font-weight: bold;
        }
    }
    .row{
        .eipsAdvance{
            img{
                width:100%
            }
        }
    }
}

.block-community{
    padding:0 30px 50px;
    .title{
        display: flex;
        justify-content: center;
        padding:0 30px 0;
        span{
            font-size: 1.4em;
            padding: 0 40px 15px 40px;
            border-bottom: 3px solid #ffc107;
        }
    }
    div{
        .buildPic{
            margin-top:40px;
            display: flex;
            justify-content: center;
            img{
                width:400px;
                // height:170px;
            }
        }
    }
}

// aboutus 圖文
.about-header{
    background: #000;
}
.bossView{
    padding-top:120px;
    background: #e6e6e6;
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p{
            font-size: 2.5em;
            font-weight: bold;
        }
    }
    img{
        width:100%;
    }
}

// about content
.about-content{
    .title{
        font-size: 1.8em;
        font-weight: bold;
        color:#ffc173;
    }
    .content{
      font-size: 1.2em;
      text-align:justify;
      line-height: 45px; 
    }
}

// 分眾大事紀
.about-history{
    padding: 60px 0 0;
    .title{
        font-size: 1.8em;
        font-weight: bold;
        color:#ffc173;
    }
    .content{
        li{
            list-style-type: disc;
            font-size: 1.2em;
            text-align:justify;
            line-height: 45px;
        } 
    } 
}
// 分眾大事紀 end

// footlogo
.footer-logo{
    padding: 0 0 60px;;
    .row{
        display: flex;
        justify-content: flex-end;
        img{
            width:250px;
        }
    }
}
// footerlogo end

// about content end


// aboutus 關於我們 end

// 關於東森
.etView{
    padding-top:120px;
    background: #e6e6e6;
    img{
        width: 100%;
    }
}
// 關於東森 end

// 創辦人的話
.ceo-content{
    padding: 60px 0 0;
    .title{
        font-size: 1.8em;
        font-weight: bold;
        color:#ffc173;
    }
    
    .content{
        list-style-type: disc;
        font-size: 1.2em;
        text-align:justify;
    } 
}
// 創辦人的話end
.block-salesJob{
    img{
        width:100%;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        .title{
            font-size: 3em;
            font-weight: bold;
            color:#ffc173;
        }
        span{
            font-size: 2em;
            font-weight: bold;
            margin-right: 10px;
        }
        .content{
            font-size: 1.5em;
            text-align:justify;
        }
        .action{
            display:flex;
            justify-content: space-around;
        }
    }
    
}
// 整合行銷企劃

// 整合行銷企劃 end 

// FAQ
.FAQ{
    margin: 0 auto;
    overflow: scroll;
    overflow-y: hidden;
}
// FAQ end

/*如果螢幕寬度為 768px（含） 以下，就套用 css 設定*/
@media screen and (max-width: 768px) { 
    .block-community{
        .buildPic{
            width:100%;
            height: 300px!important;
        }
    }
    .count{
        .content{
            h3.title-setPoint{
                text-align: center!important;
            }
        }
    }
}

@media screen and  (max-width: 576px) {
    .mallEips{
        .titleContent{
            display:flex;
            flex-direction: column;
            align-items: center;
            h1{
                color:#fff;
            }
        }
    }
}
@media screen and  (max-width: 376px) {
    .counts{
        padding:0px 0px;
        .image{
            background-size: contain!important;
        }
    }
    
    .contact{
        .section-title{
            p{
                font-size: 2em;
            }
        }
    }
}