/* calendar */
* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body {
    font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
  }
  

.rentTime,.staging{
    padding-bottom: 10px;
}
.table{
    margin-top:15px;
    border: 1px solid #d4d4d4;
    display: none;
}
thead{
    background:#252422;
    color:#fff;
}


.rentData > tr:nth-child(even) {
    background: #f3f3f3;
}
ol,ul{
    padding-left:0px;
}
.form-title{
    padding-top: 50px;
    text-align: center;
}
.ff{
	display: flex!important;
	flex-direction: column;
}
.rentBlock{
  --bs-gutter-x: 0rem!important;
}
.hint-price{
    display: none;
    height:150px;
	margin-top:10px;
	border-radius: 4px;
	border:1px solid #d4d4d4;
}
.hint-price p{
  	margin-bottom: 0px;
}
.original{
  	border-bottom: 1px solid #d4d4d4;
}
.block-rentPrice{
    margin-top:15px;
}
.block-start{
    margin-top:15px;
}
.block-start label{
  	margin-bottom: 15px;
}
.block-end label{
  	margin-bottom: 15px;
}

.hint{
	padding-bottom: 20px;
	display: none;
}

@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    #calender01{
        width: 90%;
        margin:40% auto;
    }
    .count{
        height:50px;
    }
}