* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: #CCC5B9;
    font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
}
.rentBlock{
    --bs-gutter-x: 0rem!important;
    .form-title{
        padding-top: 50px;
        text-align: center;
        color: #403D39;
    }
    
    .block-rentPrice{
        margin-top:15px;
        label{
            color: #403D39;
        }
    }
    .block-start {
        margin-top:15px;
        label{
            color: #403D39;
            margin-bottom: 15px;
        }
        .time-start{
            background: #403D39;
            color: #fff;
        }
    }
    .block-end{
        label{
            margin-bottom: 15px;
        }
        .time-end{
            background: #403D39;
            color: #fff;
        }
    }
    .hint-price{
        display: none;
        font-size: 1.1em;
        max-height:400px;
        margin-top:10px;
        border-radius: 4px;
        border: 1px solid #FFFCF2;
        background: #252422;
        color: #FFFCF2;
        .rentInf{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #6b6b6b;
            p{
                padding:10px;
                margin-bottom: 0px;
            }

            .price-data1{
                color: #FFFCF2;
            }
            .price-data2{
                color: #ff8759;
            }
        }
        .rentTime{
            padding: 10px;
        }
        .hint{
            display: none;
            padding: 10px;
            font-size: 13px;
            background: #403D39;
            border-top: 1px solid #6b6b6b;
        }
    }
    .hint{
        padding-bottom: 20px;
        display: none;
        color: #CCC5B9;
        background: #403D39;
        border-top: 1px solid #6b6b6b;
    }
    .ff{
        display: flex!important;
        flex-direction: column;
        justify-content: space-around;
    }
}
.table{
    margin-top:15px;
    border: 1px solid #d4d4d4;
    display: none;
    thead{
        background:#252422;
        color:#FFFCF2;
    }
    .rentData {
         // 奇數列
         tr:nth-child(odd){
            background:#FFFCF2;
            color:#403D39;
        }
        // 偶數列
        tr:nth-child(even){
            background:#403D39;
            color:#FFFCF2;
        }
    }
    tbody{
        tr{
            border: none;
        }
    }
}
tbody, td, tfoot, th, thead, tr {
    border: none;
}
ol,ul{
    padding-left:0px;
}
.ui-datepicker-calendar {
    display: none;
}
.count{
    color: #fff;
    background-color: #EB5E28;
    border-color: #fbc692;
}
.btn-primary:hover {
    color: #fff;
    background-color: #EB5E28;
    border-color: #fbc692;
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    .count{
        height:50px;
    }
}