::placeholder {
  color: #c9c9c9 !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hint-danger {
  padding: 10px;
  margin: 10px;
}

.buttonBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-link li a {
  color: #fff;
}

.col-block {
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
}

.leftBlock .timeBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border: 1px solid #d4d4d4;
  width: 250px;
  height: 300px;
  margin: 10px;
  margin-top: 70px;
}

.leftBlock .timeBlock .block-header {
  background: #3F4349;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBlock .timeBlock .block-header span {
  color: #fff;
}

.leftBlock .timeBlock .block-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 220px;
  height: 200px;
}

.leftBlock .timeBlock .block-content .time-start {
  margin-top: 20px;
}

.hintView {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hintView .hintBlock-printSuccess {
  width: 400px;
  height: 200px;
  background: #fff;
  display: none;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.hintView .hintBlock-printSuccess .hint-content {
  margin: 5%;
}

.hintView .hintBlock-printSuccess .hint-content .hint-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hintView .hintBlock-printSuccess .hint-content .hint-inf p {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.hintView .hintBlock-printSuccess .hint-content .hint-inf .closeHint {
  margin: 10px;
  width: 80%;
}

.hintView .hintBlock-viewReport .hint-content {
  width: 600px;
  padding: 20px;
  background: #fff;
}

.hintView .hintBlock-viewReport .hint-content img {
  width: 100%;
}

.hintView .hintBlock-viewReport .hint-content .control {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.itemList {
  width: 1200px;
}

.itemList .pageTitle {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.itemList .listBlock {
  margin-bottom: 5%;
  background: #fff;
}

.itemList .listBlock .blockHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.itemList .listBlock .chartBlock {
  max-width: 1040px;
  padding: 20px;
}

.itemList .listBlock table tbody {
  background: #fff;
}

.itemList .listBlock table tbody tr td.arrangeNumber {
  width: 0.25em;
}

.itemList .listBlock table tbody tr td.action {
  display: flex;
}

.itemList .listBlock table tbody tr td.action a {
  margin: 3px;
}

.itemList .listBlock .table th {
  background: #313131;
  color: #fff;
  font-weight: 100;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.itemList .listBlock .table th, .itemList .listBlock .table td {
  vertical-align: inherit !important;
  padding: 0.75rem;
}

.itemList .listBlock nav {
  padding-bottom: 2px;
}

.itemList .listBlock nav .pagination {
  justify-content: flex-end;
}

.sb-nav-fixed #layoutSidenav {
  background: #E9EEF3 !important;
  padding-bottom: 20px !important;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 0px !important;
}

#ui-datepicker-div {
  z-index: 9999 !important;
}

.placeBlock {
  display: flex;
  padding-left: 0px !important;
}

.placeBlock .cityInfBlock {
  max-width: 18% !important;
  padding-left: 0px !important;
}

.placeBlock .cityInfBlock .spanCity, .placeBlock .cityInfBlock .spanCountry {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
  font-weight: inherit;
}

.placeBlock .cityInfBlock .spanCity {
  background: #687689 !important;
}

.placeBlock .cityInfBlock .spanCountry {
  background: #8A9DB8 !important;
}

.dataControl {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px !important;
}

.dataControl a {
  margin-left: 5px;
}

.footerBlock {
  color: #Fff;
  background: #3F4349;
}

footer {
  z-index: 9;
}

.block-active {
  display: flex !important;
}

.hide {
  display: none !important;
}

body {
  font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
}
