* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #CCC5B9;
  font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
}

#ui-datepicker-div button.ui-datepicker-current {
  display: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  width: 100%;
  margin: .5em 0em .4em;
  padding: .5em .6em .3em .6em;
}

.hintInf {
  display: none;
  font-size: 1.2em;
  text-align: center;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

.hintInf p {
  padding: 10px;
  margin-bottom: 0rem;
}

.rentBlock {
  --bs-gutter-x: 0rem!important;
}

.rentBlock .form-title {
  padding-top: 50px;
  text-align: center;
  color: #403D39;
}

.rentBlock .block-rentPrice {
  margin-top: 15px;
}

.rentBlock .block-rentPrice label {
  color: #403D39;
}

.rentBlock .block-start {
  margin-top: 15px;
}

.rentBlock .block-start label {
  color: #403D39;
  margin-bottom: 15px;
}

.rentBlock .block-start .time-start {
  background: #403D39;
  color: #fff;
}

.rentBlock .block-end label {
  margin-bottom: 15px;
}

.rentBlock .block-end .time-end {
  background: #403D39;
  color: #fff;
}

.rentBlock .hint-price {
  display: none;
  font-size: 1.1em;
  max-height: 400px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #FFFCF2;
  background: #252422;
  color: #FFFCF2;
}

.rentBlock .hint-price .rentInf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #6b6b6b;
}

.rentBlock .hint-price .rentInf p {
  padding: 10px;
  margin-bottom: 0px;
}

.rentBlock .hint-price .rentInf .price-data1 {
  color: #FFFCF2;
}

.rentBlock .hint-price .rentInf .price-data2 {
  color: #ff8759;
}

.rentBlock .hint-price .rentTime {
  padding: 10px;
}

.rentBlock .hint-price .hint {
  display: none;
  padding: 10px;
  font-size: 15px;
  color: #CCC5B9;
  border-top: 1px solid #6b6b6b;
}

.rentBlock .ff {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
}

.rentBlock .rowClass {
  display: flex !important;
  justify-content: center;
}

.table {
  border: 1px solid #d4d4d4;
  display: none;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

.table thead {
  background: #252422;
  color: #FFFCF2;
}

.table .rentData tr:nth-child(odd) {
  background: #FFFCF2;
  color: #403D39;
}

.table .rentData tr:nth-child(even) {
  background: #403D39;
  color: #FFFCF2;
}

.table tbody tr {
  border: none;
}

tbody, td, tfoot, th, thead, tr {
  border: none;
}

ol, ul {
  padding-left: 0px;
}

.ui-datepicker-calendar {
  display: none;
}

.count {
  color: #fff;
  background-color: #EB5E28;
  border-color: #fbc692;
}

.btn-primary:hover {
  color: #fff;
  background-color: #EB5E28;
  border-color: #fbc692;
}

@media screen and (max-width: 576px) {
  .count {
    height: 50px;
  }
}
