/* 字體設定 */
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 300;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Light.otf") format ("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 400;
    src: url ("https://www.yuantabank.com. tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 500;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 700;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 900;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf")format ("opentype");
    font-display: swap;
}

body::-webkit-scrollbar {
    display: none;
}
/* IE 10+ */
body {
    -ms-overflow-style: none;
}
html {
    scroll-behavior: smooth;
}
/* Firefox */
body {
    scrollbar-width: none;
}

html, body {
    font-family: "Noto Sans TC", sans-serif, Arial, Helvetica;
    overflow-x: hidden;
    background-color: #EBF9FF;
}

.banner{
    display: flex;
    position: relative;
}

/* section00 */
#section00{
    width:100%;
    position: relative;
    display: inline-block;
}
#section00{
    height:1080px;
    /* background: #9d6f64; */
}
#section00 > div.content{
    margin:0 auto;
    margin-top:100px;
    width:800px;
    height:500px;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    background: #c3bab8;
    gap:30px;
}
#section00 > .content > .content_left{
    width:350px;
    height:450px;
    background:#f98963;
}
#section00 > div.content > div.content_right{
    width:350px;
    height:450px;
    background: #f0a759;
}

/* section01 */
#section01{
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9bcfbf;
}
#section01 >.block_anchor{
    margin:0 auto;
    margin-top:30px;
    width:900px;
    height:300px;
    display: inline-block;
    position: relative;
    background: #e8b5db;
}
#section01 > .block_anchor >.button_group{
    width:100%;
    display: flex;
    position: absolute;
    margin:0 auto;
    bottom: 30px;
    justify-content: space-around;
    align-items: center;
}
#section01 > .block_anchor >.button_group > a{
    width:200px;
    height:45px;
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a3fad;
}
/* section02 */
#section02{
    width:100%;
    position: relative;
    display: inline-block;
}
#section02{
    height:600px;
    background: #9d6f64;
}
#section02 > .content{
    width:960px;
    height:450px;
    background: blue;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section02 > .content > .swiper-container {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    background: #C60;
}
/* section03 */
#section03{
    width:100%;
    position: relative;
    display: inline-block;
}
#section03{
    height:600px;
    background: #8be8dd;
}
#section03 > div.content{
    margin:0 auto;
    margin-top:50px;
    width:1000px;
    height:500px;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    background: #c3bab8;
    gap:30px;
}
#section03 > .content > .content_left{
    width:450px;
    height:450px;
    background: blue;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section03 > .content > .content_right{
    width:450px;
    height:450px;
    background: #9797e8;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section03 > .content > .content_left > .swiper-container {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    background: #C60;
}
#section03 > .content > .content_right > H3{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}
#section03 > .content > .content_right > p{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
}

#section03 > .content_right{
    width:500px;
    height:500px;
    background: #9c9ce7;
}

/* section04 */
#section04{
    width:100%;
    position: relative;
    display: inline-block;
}
#section04{
    height:600px;
    background: #b9caac;
}
#section04 > div.content{
    margin:0 auto;
    margin-top:50px;
    width:1000px;
    height:500px;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    background: #c3bab8;
    gap:30px;
}
#section04 > .content > .content_left{
    width:450px;
    height:450px;
    background: blue;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section04 > .content > .content_left > H3{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}
#section04 > .content > .content_left > p{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
}
#section04 > .content > .content_right{
    width:450px;
    height:450px;
    background: #9797e8;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section04 > .content > .content_right > .swiper-container {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    background: #C60;
}

#section04 > .content_left{
    width:500px;
    height:500px;
    background: #9c9ce7;
}

/* section05 */
#section05{
    width:100%;
    position: relative;
    display: inline-block;
}
#section05{
    height:600px;
    background: #5f3232;
}
#section05 > div.content{
    margin:0 auto;
    margin-top:50px;
    width:1000px;
    height:500px;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    background: #c3bab8;
    gap:30px;
}
#section05 > .content > .content_left{
    width:450px;
    height:350px;
    background: blue;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section05 > .content > .content_left > H3{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}
#section05 > .content > .content_left > .marquee_block{
    width: 100%;
    height:250px;
    overflow: hidden;
    position: relative;
}
#section05 > .content > .content_left > .marquee_block > p{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    bottom: -100%; /* 起始位置在容器的底部外 */
}
#section05 > .content > .content_right{
    width:450px;
    height:450px;
    background: #9797e8;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section05 > .content > .content_right > .swiper-container {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    background: #C60;
}

#section05 > .content_left{
    width:500px;
    height:500px;
    background: #9c9ce7;
}
#section05 > .content > .content_right > .swiper-container > .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(119, 168, 248);
    bottom: 10px !important;
    left: auto;
    right: 10px;
    width: auto;
    height: 100%;
    flex-direction: column;
}
#section05 > .content > .content_right > .swiper-container > .swiper-button-next{
    top:83px;
    left:45%;
    transform: rotate(-90deg); /* 逆时针旋转 90 度 */
}
#section05 > .content > .content_right > .swiper-container > .swiper-button-prev{
    left:45%;
    top:382px;
    transform: rotate(-90deg); /* 逆时针旋转 90 度 */
}

/* section06 */
#section06{
    width:100%;
    position: relative;
    display: inline-block;
}
#section06{
    height:600px;
    background: #9fe4b8;
}
#section06 > div.content{
    margin:0 auto;
    margin-top:50px;
    width:1000px;
    height:350px;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    background: #c3bab8;
    gap:30px;
}
#section06 > .content > .content_left{
    width:450px;
    height:300px;
    background: blue;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
#section06 > .content > .content_left > .qa-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#section06 > .content > .content_left > .qa-container >.qa-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#section06 > .content > .content_left > .qa-container >.qa-item >.qa-question {
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#section06 > .content > .content_left > .qa-container >.qa-item >.qa-answer {
    display: none;
    padding: 10px;
    background-color: white;
    color: #333;
}
#section06 > .content > .content_left > .qa-container >.qa-item >.qa-answer > p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
#section06 > .content > .content_right{
    width:450px;
    height:300px;
    background: #9797e8;
    margin:0 auto;
    margin-top:50px;
    position: relative;
    display: flex;
}
#section06 > .content > .content_right > .block_rank {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
}
#section06 > .content > .content_right > .block_rank > H3{
    margin-top:20px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}
#section06 > .content > .content_right > .block_rank > .list {
    width: 300px; /* 设置宽度 */
    height: 200px; /* 5个列表项的高度 (5 * 50px) */
    overflow: hidden; /* 隐藏溢出内容 */
    position: relative;
    margin: 0 auto;
    margin-top:20px;
    border: 1px solid #fff;
}

#section06 > .content > .content_right > .block_rank > .list ul {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 1s ease-in-out; /* 添加平滑过渡效果 */
}

#section06 > .content > .content_right > .block_rank > .list li {
    height: 50px; /* 每个列表项的高度 */
    line-height: 50px;
    text-align: center;
    color:#fff;
}

/* section07 */
#section07{
    width:100%;
    position: relative;
    display: inline-block;
}
#section07{
    height:100px;
    background: #eb93c6;
}
#section07 > .list-single {
    width: 300px; /* 设置宽度 */
    height: 200px; /* 5个列表项的高度 (5 * 50px) */
    overflow: hidden; /* 隐藏溢出内容 */
    position: relative;
    margin: 0 auto;
    margin-top:20px;
    border: 1px solid #fff;
}

#section07 > .list-single ul {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 1s ease-in-out; /* 添加平滑过渡效果 */
}
#section07 > .list-single li {
    height: 50px; /* 每个列表项的高度 */
    line-height: 50px;
    text-align: center;
    color:#fff;
}

/* 輪播共同CSS元件 */
.swiper-wrapper{
    height:300px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    bottom: 0 !important;
    background: rgb(104, 170, 250);
}
.swiper-button-next, .swiper-button-prev {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    height: 50px;
}

/* Custom pagination styles */
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.swiper-slide-active img {
    transform: scale(1);
}

.swiper-slide-next img, .swiper-slide-prev img {
    transform: scale(0.8);
}
.slider_title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    width:300px;
    height:40px;
    padding-top:30px;
    padding-bottom:30px;
    color:#fff;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 半透明效果 */
.swiper-slide-next img{
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide-prev img{
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}
/* 貸款業務Slider  end*/
/* update end */
@media screen and (min-width: 1440px){
    .banner{
        width:100%;
        height:1080px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        justify-content: center;
        margin-top:80px;
    }
    .banner{
        background-image:url(../images/banner/KVBackground_A.svg);
        background-position: bottom;
    }
    #section01{
        width:100%;
        height:1080px;
        position: relative;
    }
    #section02{
        width:100%;
        height:800px;
        position: relative;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .banner{
        /* min-width:1280px; */
        height:800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        position: relative;
        justify-content: center;
        margin-top:80px;
    }
    .banner{
        background-image:url(../images/banner/KVBackground_B.svg);
    }
}


@media screen and (max-width: 1023px) {
    html, body {
        overflow-x: hidden;
    }
    .banner{
        margin-top:76px;
        height: 960px;
        background-image:url(../images/banner/KVBackground_C.svg);
        background-size: cover;
        background-position: bottom;
    }
}

@media screen and (max-width: 767px){
    .appDownload-QRcode{display:none}
    .banner{
        margin-top:58px;
        background-image: url(../images/banner/KVBackground_D.svg);
        background-position: bottom;
        height: 560px;
    }
}
