/* 字體設定 */
@font-face {
    font-family:"Noto Sans TC";
    font-style: normal; font-weight: 300;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Light.otf") format ("opentype");
    font-display: swap;
}
@font-face {
    font-family:"Noto Sans TC";
    font-style: normal; font-weight: 400;
    src: url ("https://www.yuantabank.com. tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family:"Noto Sans TC";
    font-style: normal; font-weight: 500;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family:"Noto Sans TC";
    font-style: normal; font-weight: 700;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf")format ("opentype");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal; font-weight: 900;
    src: url ("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf")format ("opentype");
    font-display: swap;
}

body::-webkit-scrollbar {
    display: none;
}
/* IE 10+ */
body {
    -ms-overflow-style: none;
}
html {
    scroll-behavior: smooth;
}
/* Firefox */
body {
    scrollbar-width: none;
}

html, body {
    font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica;
    overflow-x: hidden;
    background-color: #EBF9FF;
}

.banner{
    width:100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.slogan{
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* section00 */
#section00{
    width:100%;
    position: relative;
    display: inline-block;
    margin-top:80px;
}
#section00{
    height:1080px;
}
#section00 > div.content{
    margin:0 auto;
    margin-top:119px;
    width:100%;
    height:525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
}
#section02{
    width:100%;
    height:auto;
    background-color: #F0F0F0;
}
#section02 > .content{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.rule_content{
    margin-top:60px;
    width:100%;
    height:auto;
    background-color: #fff;
    border-radius: 20px;
    padding:32px;
}
.numbered-terms {
    list-style: decimal; /* 顯示數字列表 */
    list-style-position: outside; /* 將號碼凸出 */
    margin: 0px; /* 整體外邊距 */
    padding-left: 20px; /* 整體左內邊距 */
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
  
.numbered-terms li {
    margin-bottom: 10px; /* 每個條款的下方留間距 */
}
.banner_act_date{
    width:388px;
    height:50px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
}
.banner_act_date > .circle{
    width:8px;
    height:8px;
    display: block;
    border-radius: 50px;
    background-color: #0664C4;
}
.banner_act_date > p{
    font-size: 24px;
    font-weight: bold;
    color: #0664C4;
    padding-bottom: 0px;
}
.responsive-text {
    white-space: nowrap; /* 預設不換行 */
  }
.charge_Date{
    width:643px;
    height:66px;
    background-image:url(../images/banner/btn_M.svg);
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color: #D65800;
    border-radius: 50px;
    box-shadow: 0px 6px 0px 0px #A74500;

}
.charge_Date > span{
    width:8px;
    height:8px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
}
.charge_Date > p{
    font-size: 24px;
    font-weight: bold;
}
.bigTitle{
    width:670px;
    height:246px;
    background-image: url(../images/banner/big_title_M.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.actInf{
    width:100%;
    height:1100px;
    background-color: #7DC77A;
    margin-top:-1px;
}
.actInf > .content{
    margin:0px auto;
    width:100%;
    height:auto;
    padding-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap:64px;
}
.pic_inf_title{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.act_inf_content{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.act_date{
    width:810px;
    height:129px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    margin-top:97px;
}
.act_date_title{
    width:100%;
    height:54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0664C4;
    color:#fff;
    font-size: 24px;
    line-height: 38.4px;
    font-weight: 500;
    border-radius: 12px 12px 0px 0px;/* 左上, 右上, 右下, 左下 */
}
.act_date_inf{
    width:100%;
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0664C4;
    background-color: #E9F3FF;
    font-size: 32px;
    line-height: 51.2px;
    font-weight: 700;
    border-radius: 0px 0px 12px 12px;/* 左上, 右上, 右下, 左下 */
}
.act_text_content{
    width:810px;
    height:auto;
    margin:0 auto;
    margin-left:195px;
    display: flex;
    flex-direction: column;
    gap:0px;
}
.text_inf{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:40px;
    height:auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 35.2px;
    color:#323232;
}
.dashed-box{
    margin-top:27px;
    margin-bottom: 27px;
    width:100%;
    border: 1px dashed #BCBCBC; /* 2px 黑色虛線邊框 */
}
.textGroup{
    width:634px;
    height:auto;
    display: flex;
    flex-direction: column;
}
.hint{
    color:#0664C4;
}
.link{
    color:#0664C4;
    text-decoration: underline; /* 開啟底線 */
}
.strongHint{
    color:#EB6100;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
}

/* update end */
@media screen and (min-width: 1440px){
    .banner{
        width:100%;
        height:1080px;
    }
    .banner{
        background-image:url(../images/banner/kv_L.jpg);
    }
    .slogan{
        width:640px;
        height:111.57px;
        background-image:url(../images/banner/slogan_M.svg);
    }
    #section01{
        width:100%;
        height:1100px;
        position: relative;
    }
    .pic_inf_title{
        width: 390px;
        height:104px;
        background-image:url(../images/banner/act_inf_L.svg);
    }
    .pic_hint_title{
        width: 390px;
        height:104px;
        background-image:url(../images/banner/hint_inf_L.svg);
    }
    .act_inf_content{
        width:1200px;
        height:auto;
        background-image:url(../images/banner/act_inf_content_L.png);
    }
    .act_text_content{
        margin-top:64px;
        margin-bottom: 68px;
    }
    .text_inf > p{
        width:136px;
        height:32px;
        display: block;
        text-align: center;
        border-left:1.5px solid #323232;
        border-right:1.5px solid #323232;
    }
    .act_text_content > .text_inf:nth-child(4) > .textGroup{
        height:170px;
    }
    #section02 > .content{
        width:1200px;
        height:auto;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #section00{
        height:960px;
        margin-top:58px;
    }
    .banner{
        background-image:url(../images/banner/kv_M.jpg);
    }
    .act_date{
        width:568px;
    }
    .actInf > .content{
        padding-top: 64px;
        gap:40px;
    }
    #section02 > .content{
        padding-top:64px;
        padding-bottom: 64px;
    }
    .rule_content{
        width:704px;
        margin-top:40px;
    }
    .slogan{
        width:640px;
        height:111.57px;
        background-image:url(../images/banner/slogan_M.svg);
    }
    .textGroup {
        width:392px;
    }
    .responsive-text {
        white-space: normal; /* 視窗小時允許換行 */
    }

    .breakable {
        display: inline-block;
    }
    .banner_act_date{
        width:388px;
    }
    .act_text_content{
        width:568px;
        margin:0 auto;
        margin-top: 64px;
        margin-bottom: 68px;
    }
    .act_inf_content{
        width:704px;
        background-image:url(../images/banner/act_inf_content_M.png);
        background-repeat: no-repeat;
    }
    .text_inf > p{
        width:136px;
        height:32px;
        display: block;
        text-align: center;
        border-left:1.5px solid #323232;
        border-right:1.5px solid #323232;
    }
    .pic_inf_title {
        width: 300px;
        height: 80px;
        background-image: url(../images/banner/act_inf_M.svg);
        background-repeat: no-repeat;
    }
    .pic_hint_title{
        width: 300px;
        height: 80px;
        background-image:url(../images/banner/hint_inf_M.svg);
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    #section00{
        height:960px;
        margin-top:77px;
    }
    .rule_content{
        width:704px;
    }
    #section02 > .content {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .banner{
        background-image:url(../images/banner/kv_M.jpg);
    }
    
    .act_date{
        width:568px;
    }
    .slogan{
        width:688px;
        height:105.57px;
        background-image:url(../images/banner/slogan_M.svg);
    }
    .responsive-text {
        white-space: normal; /* 視窗小時允許換行 */
    }

    .breakable {
        display: inline-block;
    }
    .banner_act_date{
        width:388px;
        gap:20px;
    }
    .banner_act_date > p{
        font-size: 24px;
        font-weight: 700;
        line-height: 38.4px;
    }
    .act_text_content{
        width:568px;
        margin:0 auto;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .text_inf > p {
        min-width: 136px;
        height: 32px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        display: block;
        text-align: center;
        border-left: 1.5px solid #323232;
        border-right: 1.5px solid #323232;
    }
    .actInf > .content{
        padding-top:64px;
        gap:40px;
    }
    .act_inf_content{
        width:704px;
        background-image:url(../images/banner/act_inf_content_M.png);
        background-repeat: no-repeat;
    }
    .pic_inf_title {
        width: 300px;
        height: 80px;
        background-image: url(../images/banner/act_inf_M.svg);
        background-repeat: no-repeat;
    }
    .pic_hint_title{
        width: 300px;
        height: 80px;
        background-image:url(../images/banner/hint_inf_M.svg);
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 767px) and (min-width: 360px){
    .appDownload-QRcode{display:none}
    #section00{
        height:639px;
        margin-top:57px;
    }
    #section00 > div.content{
        margin-top:93px;
        height:395.98px;
    }
    #section02 > .content {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .banner{
        background-image:url(../images/banner/kv_S.svg);
    }
    .bigTitle{
        width:326px;
        height:108.98px;
        background-image: url(../images/banner/big_title_S.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .responsive-text {
        white-space: normal; /* 視窗小時允許換行 */
    }

    .breakable02 {
        display: inline-block;
    }
    .actInf{
        height:1041px;
    }
    .banner_act_date {
        width:306px;
        height:41px;
        gap:20px;
    }
    .banner_act_date > .circle{
        width:6px;
        height:6px;
    }
    .banner_act_date > p{
        font-size: 18px;
        font-weight: 700;
        line-height: 28.8px;
        color: #0664C4;
        padding-bottom: 0px;
    }
    .charge_Date{
        width:305px;
        height:66px;
        background-image:url(../images/banner/btn_S.svg);
    }
    .slogan{
        width:328px;
        height:110px;
        background-image:url(../images/banner/slogan_S.svg);
    }
    .act_text_content{
        width:568px;
        margin:0 auto;
    }
    .act_date {
        width:296px;
        height:107px;
        margin-top: 53px;
    }
    .act_date_title{
        font-size: 22px;
        font-weight: 500;
        line-height: 35.2px;
    }
    .act_date_inf{
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
    }
    .text_inf{
        flex-direction: column;
        gap:24px;
    }
    .text_inf > p{
        width:136px;
        height:32px;
        display: block;
        text-align: center;
        border-left:1.5px solid #323232;
        border-right:1.5px solid #323232;
    }
    .actInf > .content{
        gap:40px;
        padding-top: 64px;
    }
    .act_text_content,
    .textGroup{
        width:296px;
    }
    .act_text_content{
        margin-top:40px;
        padding-bottom: 40px;
    }
    .dashed-box{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .textGroup{
        gap:8px;
    }
    .textGroup > p{
        font-size:18px;
        font-weight: 500;
        line-height: 28.8px;
        padding-bottom: 0px;
        text-align: center;
    }
    .strongHint{
        font-size:24px !important;
        font-weight: 700 !important;
        line-height: 38.4px !important;
    }
    .act_inf_content{
        width:328px;
        height:842px;
        background-image:url(../images/banner/act_inf_content_S.png);
        background-repeat: no-repeat;
    }
    .pic_inf_title {
        width: 280px;
        height: 56px;
        background-image: url(../images/banner/act_inf_S.svg);
        background-repeat: no-repeat;
    }
    .pic_hint_title{
        width: 280px;
        height: 56px;
        background-image:url(../images/banner/hint_inf_S.svg);
        background-repeat: no-repeat;
    }
    .rule_content{
        margin-top:40px;
        width:328px;
    }
    .numbered-terms{
        margin:0px;
        padding-left: 20px;
    }
    .footer{
        padding-bottom: 10px;
    }
}
