/* update */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* CSS動畫 */
@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.bossRighthand {
    animation: upAndDown 2s infinite;
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.bossLefthand {
    animation: upAndDown 2s infinite;
}

.banner{
    width:100%;
    height:60vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.button-reset {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}
.custom-button {
    width: 12.5vw;
    height:3.5vw;
    background-color: #013397;
    color: #fff;
    text-decoration: none;
    border: #94fffa solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-button:hover{
    background-color: #94fffa;
    color:#013397;
    border:#013397 solid 1px;
    box-shadow: 1px 2px 3px #94fffa ;
}

/* 文字CSS */
.strokeText{
    color:#013397;
    font-size:4vw;
    font-weight: 900;
    -webkit-text-stroke: 0.5px #fff;
    text-stroke: 0.5px #fff;
    
}
.strokeText::before {
    content: attr(data-storke);
}
.strokeText::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 10px #fff;
    text-stroke: 10px #fff;
    text-shadow: 1px 1px 15px #94fffa,
                 1px 1px 15px #94fffa,
                 1px 1px 15px #94fffa,
}
.subTitle{
    color:#fff;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
}
.block_title_Pic{
    width:75%;
    height:8vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    margin-top:10vw;
    background-size:100% 100%;
}
/* .title_onlineService{
    background-image:url(../images/common/title_onlineService_A.png);
}
.title_creditCardSercvice{
    background-image:url(../images/common/title_creditCard_A.png);
    height:13vw;
}
.title_digitalService{
    background-image:url(../images/common/title_digitalService_A.png);
}
.title_loanService{
    background-image:url(../images/common/title_loanService_B.png);
} */
.bbb{
    height:300px;
    background-color: #007fe0;
}
.eee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vw;
}
.block_place_inf{
    display: flex;
    flex-direction: column;
}
.block_sub{
    display: flex;
}
.placeA,.placeB,.placeC{
    width:100%;
    height:20vw;
}
/* .placeA{
    background: #c30;
}
.placeB{
    background: green;
}
.placeC{
    background: blue;
} */

.block_agent{
    display: none;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.block_invest{
    margin-top:10vw;
    margin-bottom: 10vw;
}
.block_boss{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
}
.agentPic{
    width: 320px;
    height:265px;
    background-image:url(../images/common/agentPic.png);
    background-size: contain;
    background-repeat: no-repeat ;
}

.agentButton,.agentButton_1024{
    width:200px;
    height:100px;
    background-image:url(../images/common/button_agent.png);
    background-size: contain;
    background-repeat: no-repeat ;
}
.bossRighthand{
    width:115px;
    height:90px;
    margin-bottom: 14vh;
}
.bossLefthand{
    width:115px;
    height:90px;
    margin-right: 5vw;
}
.boss{
    background-image:url(../images/common/bossYuan.png);
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:600px;
    height:800px;
}
.boss > .bossBackground{
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 465px;
}
.block_boss > .agentButton{
    display: none;
}
.Block_service{
    background-color: #EBF9FF;
    width: 100%;
    z-index: 1;
}
.sectionA_MenuA{
    background-image:url(../images/common/sectionA_1024up.png);
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    width: 100%;
    height: 380px;
    margin: 0 auto;
    margin-top:10vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sectionA_MenuA > .space{
    width:20vw;
    height:16vw;
}
.serviceA_MenuButton{
    width:90%;
    display: flex;
    gap:1vw;
    justify-content: center;
    align-items: center;
}
.serviceA_MenuButton > button{
    width: 12.5vw;
    height:3.5vw;
}

.bt_l,.bt_r{
    background-repeat: no-repeat;
    background-size: contain;
    width:1vw;
    height:1vw;
}
.bt_l{
    background-image: url(../images/button/bt_l.png);
    margin-left: 0.5vw;
    margin-bottom: 2vw;
}
.bt_r{
    background-image: url(../images/button/bt_r.png);
    margin-right: 0.25vw;
    margin-top: 2.5vw;
}
.serviceA_MenuButton button:hover > span.bt_l {
    background-image: url(../images/button/bt_l_hover.png);
}
.serviceA_MenuButton button:hover > span.bt_r {
    background-image: url(../images/button/bt_r_hover.png);
}
/* .serviceA_MenuButton > button:nth-child(1){
    background-image: url(../images/button/sectionA_1_default.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.serviceA_MenuButton > button:nth-child(1):hover{
    background-image: url(../images/button/sectionA_1_hover.png);
} */
/* .serviceA_MenuButton > button:nth-child(2){
    background-image: url(../images/button/sectionA_2_default.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.serviceA_MenuButton > button:nth-child(2):hover{
    background-image: url(../images/button/sectionA_2_hover.png);
}
.serviceA_MenuButton > button:nth-child(3){
    background-image: url(../images/button/sectionA_3_default.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.serviceA_MenuButton > button:nth-child(3):hover{
    background-image: url(../images/button/sectionA_3_hover.png);
}
.serviceA_MenuButton > button:nth-child(4){
    background-image: url(../images/button/sectionA_4_default.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.serviceA_MenuButton > button:nth-child(4):hover{
    background-image: url(../images/button/sectionA_4_hover.png);
}
.serviceA_MenuButton > button:nth-child(5){
    background-image: url(../images/button/sectionA_5_default.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.serviceA_MenuButton > button:nth-child(5):hover{
    background-image: url(../images/button/sectionA_5_hover.png);
} */
.Block_information{
    background-image: url(../images/background/body_bga.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    padding-top: 10vw;
}

.creditCard_button,.button_slideService{
    width:200px;
    height:60px;
    background-image:url(../images/button/creditService_default.png);
    background-size: contain;
    background-repeat: no-repeat ;
    margin:0 auto;
}
.block_sliderLoan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left:8vw;
}
.button_slideService{
    width:20.5vw;
    height:6vw;
}
.creditCard_button:hover,.button_slideService:hover{
    background-image:url(../images/button/creditService_hover.png);
}

.background_Connect{
    background-image: url(../images/background/body_bg_buttomA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height:78px;
    margin: -1px auto;
}
.Block_footerInf{
    background-image: url(../images/background/footer_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height:auto;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footerInf_1024{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 900px;
}
.footerInfA{
    background-image: url(../images/background/footInfA_1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height:125px;
}
.footerInfB{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:750px;
    margin-top:-20px;
}


.creditCard{
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creditCard_title{
    background-image: url(../images/common/service_credit_title.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height:125px;
}

.serviceBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 900px;
}
/* Slider */
.onlineService{
    height:500px;
}
/* end slider */

/* tapView */
.content {
    display: none;
    margin-top: 20px;
    width:100%;
}
.content.active {
    display: block;
}
.creditCard_menu {
    margin-top: 20px;
    display:flex;
    width:75%;
    height:60px;
    gap:1.5vw;
    justify-content: center;
}
.creditCard_menu a:hover > span.bt_l {
    background-image: url(../images/button/bt_l_hover.png);
}
.creditCard_menu a:hover > span.bt_r {
    background-image: url(../images/button/bt_r_hover.png);
}
/* 信用卡顯示資訊 */
.serviceImg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:47vw;
}
#content1 > .serviceImg{
    background-image: url(../images/background/card_1a.png);
}
#content2 > .serviceImg{
    background-image: url(../images/background/card_2a.png);
}
#content3 > .serviceImg{
    background-image: url(../images/background/card_3a.png);
}
#content4 > .serviceImg{
    background-image: url(../images/background/card_4a.png);
}

.serviceImg > .hint{
    display: flex;
    flex-direction: column;
}

/* 按鈕背景圖片 */
.card_Service {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:4vw;
    font-size: 1.5vw;
    font-weight: 400;
}
.card_Service[data-bg="service1"],
.card_Service[data-bg="service2"],
.card_Service[data-bg="service3"],
.card_Service[data-bg="service4"] {
    background-color: #013397;
    color:#fff;
    text-decoration: none;
    border:#94fffa solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .card_Service[data-bg="service2"] {
    background-image: url('../images/button/creditCard_service_2.png');
}

.card_Service[data-bg="service3"] {
    background-image: url('../images/button/creditCard_service_3.png');
}

.card_Service[data-bg="service4"] {
    background-image: url('../images/button/creditCard_service_4.png');
} */
.card_Service.active[data-bg="service1"],
.card_Service.active[data-bg="service2"],
.card_Service.active[data-bg="service3"],
.card_Service.active[data-bg="service4"]{
    background-color: #94fffa;
    color:#013397;
    border:#013397 solid 2px;
    box-shadow: 1px 2px 3px #94fffa ;
}
.card_Service.active[data-bg="service1"] > span.bt_l{
    background-image: url(../images/button/bt_l_hover.png);
}
.card_Service.active[data-bg="service1"] > span.bt_r{
    background-image: url(../images/button/bt_r_hover.png);
}
/* .card_Service.active[data-bg="service1"] {
    background-image: url('../images/button/creditCard_service_1_active.png');
}

.card_Service.active[data-bg="service2"] {
    background-image: url('../images/button/creditCard_service_2_active.png');
}

.card_Service.active[data-bg="service3"] {
    background-image: url('../images/button/creditCard_service_3_active.png');
}

.card_Service.active[data-bg="service4"] {
    background-image: url('../images/button/creditCard_service_4_active.png');
} */

/* 隱藏未選擇的內容 */
.content {
    display: none;
}

.content.active {
    display: block;
}
/* end Tap view */

.test{
    width:19%;
}
.a01{
    background-image:url(../images/background/InfB_1.png);
}
.a02{
    background-image:url(../images/background/InfB_2.png);
}
.a03{
    background-image:url(../images/background/InfB_3.png);
}


.full-width-img {
    width: 100%;
    height: auto;
}

.full-width-container {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    padding-top:10vw;
}

/* slider */
.creditInf,.service_Digital {
    margin: 20px auto;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creditInf{
    background-image: url(../images/background/bg_onlineService_A.png);
    width: 100%;
    height: 53vw;
}
.service_Digital{
    background-image: url(../images/background/bg_digitalService_A.png);
    width: 100%;
    height: 53vw;
}
.service_Loan {
    width: 100%;
    height: 56vw;
    margin: 0 auto;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 10vw;
}
.service_Loan {
    background-image: url(../images/background/bg_loanService.png);
}
.block_invest{
    background-image: url(../images/background/invest_1024.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 59vw;
}
.block_invest > .linkBlock > .creditCard_button{
    margin-top: 7vw;
    margin-left: 8vw;
    width: 20vw;
    height: 5.5vw;
}
.title{
  color:#fff;
  margin-left:1vw;
  margin-right:1vw;
  text-align: center;
  font-size: 32px;
}
.block_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2vw;
}
.block_title > span{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px; /* 调整间距 */
}
.title_span1{
  background-color:#15FFD5;
  opacity: 0.3;
}
.title_span2{
  background-color:#15FFD5;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px!important;
}
.slider {
  width: 83%;
  height: 32vw;
  margin: 20px auto;
  position: relative;
}
.slide_loan {
    width: 100%;
    height: 37vw;
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: transform 0.5s;
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.5s;
}
.slide > img{
    width: 100%;
    max-width: 400px; /* Add max-width to control the size */
    height: auto; /* 確保圖片按比例縮放 */
    margin: 0 auto;
}
.slide_Pic > img{
    max-width: 450px;
    width: 25vw;
    height: 37vw;
}
.sliderButton{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    gap: 40vw;
}
.sliderButton_loan {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 0 auto;
    width: 68%;
}
.slick-prev, .slick-next {
    background-color:#15FFD5;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
}
.slick-prev:before, .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color:#033689;
    background-color:#15FFD5;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next {
    right: 10vw !important;
}
.slick-prev {
    left: 10vw !important;
}
.slick-dots li.slick-active button {
    transform: scale(1.5); /* 放大 active 的 dot */
}
/* .slick-dots li.slick-active button:before {
    color: red; 
} */
.slick-dots {
    text-align: center;
    margin-top:-20px;
    bottom: 20px;
}
.slick-dots li {
    display: inline-block;
    margin: 0 10px; /* Increase margin for more spacing */
}
.slick-dots li button {
    background: #66ACFF;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 12px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: #94fffa; /* Custom color for active dot */
}
.slick-dots li button:before {
    opacity: 0;
}
.slick-dots li button:before {
    content: none;
}
.slick-center .slide {
    transform: scale(1.5); /* Scale center slide */
}
.slide:not(.slick-center) {
    transform: scale(0.8); /* Default scale for non-center slides */
    margin-top:3vw;
    opacity: 0.5;
}
.slick-list {
  scale: 0.85;
}

/* footerInf */
.block_place_inf{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: -3vw;
}
.block_sub{
    display: flex;
    width: 100%;
    position: relative;
    height: 56vw;
}
.placeA, .placeB{
    width:50%;
    height:60vw;
    display: block;
    position: absolute; /* 相對定位 */
    background-size: 100% 100%;
}
.placeC {
    width:96%;
    height:60vw;
    display: block;
    position: relative; /* 相對定位 */
    background-size: 100% 100%;
    margin: 0 auto;
}
.placeA{
    background-image: url(../images/background/InfB_1.png);
    padding-left: 3vw;
    left: 2%;
}
.placeB{
    background-image: url(../images/background/InfB_2.png);
    left: 48%;
}
.placeC{
  background-image: url(../images/background/infB_3.png);
}
.Block_footerInf{
    background-image: url(../images/background/footer_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height:auto;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
}
.full-width-container {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    padding-top:10vw;
    height:15vw;
}
.button_slideService{
    width:20vw;
    height:6vw;
    background-image:url(../images/button/creditService_default.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    margin:0 auto;
    display: block;
    position: absolute;
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 使元素完全居中 */
    bottom:4vw;
}
.button_slideService:hover{
    background-image:url(../images/button/creditService_hover.png);
}
.agentFooterPic{
  background-image:url(../images/common/agent.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* slider end */

/* update end */
@media screen and (min-width: 1200px) {
    .banner{
        background-image:url(../images/banner/KVBackground_1440b.png);
    }
   .agentButton_1024{
        display: block;
        margin-top: 30vw;
        margin-left: 20vw;
        width: 20vw;
        height: 10vw;
   }
   .agentButton_1024:hover{
        background-image: url('../images/common/button_agent_hover.png');
   }
   .animation_1024{
        display: flex;
        margin-top:20vw;
        margin-left:3vw;
   }
   .animation_768{
        display: flex;
   }
   .bossRighthand{
        width:8vw;
        height:6vw;
   }
   .bossLefthand{
        width:8vw;
        height:6vw;
        margin-left: 22vw;
        margin-top: 5vw;
   }
   .sectionA_MenuA{
        margin-top:10vw;
        margin-bottom: 10vw;
   }
   
   .serviceImg{
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .serviceImg > .space{
        width:20vw;
        height:5vw;
   }
   .creditCard_button {
        margin-top: 9vw;
        margin-left: 2vw;
    }
   /* .block_Place{
        width: 50vw;
        padding-top: 5vw;
        margin-bottom: -2vw;
        height: 20vw;
   } */
}
@media screen and (max-width: 1199px) {
    .strokeText::before {
        position: absolute;
        z-index: -1;
        -webkit-text-stroke: 10px #fff;
        text-stroke: 5px #fff;
        text-shadow: 1px 1px 10px #94fffa,
                     1px 1px 15px #94fffa,
    }
    .container{
        width:100%;
    }
    .block_title_Pic{
        height:15vw;
    }
    .subTitle{
        font-size: 3.5vw;
        line-height: 5vw;
        margin-top: 5vw;
        width:80%;
    }
    .strokeText{
        font-size:6vw;
    }
    .test{
        width:80%;
    }
    /* Block_banner */
    .animation_1024{
        display: none;
    }
    .agentButton_1024{
        display: none;
    }
    .animation_768{
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block_agent{
        display: flex;
        flex-direction: column;
    }
    .agent {
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
    .agent > .agentButton{
        display: none;
    }
    .agent > .agentPic{
        width: 55vw;
        height: 43vw;
    }
    .Block_information{
        background-image: url('../images/background/body_bg_768.png');
    }
    .block_boss > .agentButton{
        display: block;
        margin-top:-6vh;
    }
    .block_boss > .agentButton:hover{
        background-image: url('../images/common/button_agent_hover.png');
    }
    .boss {
        width: 60vw;
        height: 80vw;
        margin-top: -14vw;
    }
    .boss > .bossBackground {
        height:415px;
    }
    .bossRighthand{
        margin-right: 30vw;
        margin-bottom: 6vw;
    }
    .bossLefthand{
        margin-right: 8vw;
        margin-top: 13vw;
    }
    .agentButton {
        width: 33vw;
        height: 9vw;
    }
    .Block_service{
        background-color: #F4FFFF;
    }
    .creditCard_menu {
        width: 100%;
        flex-wrap: wrap; /* 允許換行 */
        row-gap: 1vw;
        column-gap: 1vw;
        height: 14vw;
    }
    .creditCard_menu a {
        flex: 0 0 calc(50% - 10px); /* 每個按鈕佔50%的寬度，減去間距 */
        margin-bottom: 10px; /* 下方間距 */
        font-size: 3vw;
    }
    .banner{
        height: 1200px;
        background-image:url(../images/banner/KVBackground_768.png);
    }

    /* end Block_banner */

    /* Block_service */
    .Block_service{
        height:950px;
    }
    .Block_service > .container{
        width:100%;
    }
    .sectionA_MenuA{
        background-size: contain;
        height:800px;
    }
    .serviceA_MenuButton{
        flex-direction: column;
        gap: 1vw;
        bottom: 70px;
    }
    .serviceA_MenuButton > button {
        height: 8vw;
        width: 90%;
        font-size: 3vw;
        box-shadow: 2px 2px 3px #94fffa ;
    }
    .bt_l,.bt_r{
        width: 4vw;
        height: 2vw;
    }
    .bt_l {
        margin-left: 0.75vw;
        margin-bottom: 3vw;
    }
    .bt_r {
        margin-right: 0.25vw;
        margin-top: 3vw;
    }

    /* .serviceA_MenuButton > button:nth-child(1){
        background-image: url(../images/button/sectionA_1_default_long.png);
        background-position: center;
    } */
    /* .serviceA_MenuButton > button:nth-child(2){
        background-image: url(../images/button/sectionA_2_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(3){
        background-image: url(../images/button/sectionA_3_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(4){
        background-image: url(../images/button/sectionA_4_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(5){
        background-image: url(../images/button/sectionA_5_default_long.png);
        background-position: center;
    } */
    /* end Block_service */
    .content {
        margin-top:100px;
    }
    .card_Service {
        background-size: cover;
        height: 90px;
    }
    .sectionA_MenuA{
        background-image:url(../images/common/sectionA_768.png);
    }
    /* .block_Place{
        padding-top: 10vw;
        padding-left: 14vw;
        padding-right: 7vw;
        margin-bottom: -5vw;
   } */
   .creditInf{
        background-image: url(../images/background/bg_onlineService_B.png);
        height: 100vw;
        margin-bottom: 20vw;
    }
    .service_Digital{
        background-image: url(../images/background/bg_digitalService_B.png);
        width: 100%;
        height: 100vw;
        margin-bottom: 20vw;
    }
    .service_Loan {
        background-image: url(../images/background/bg_loanService_B.png);
        height: 100vw;
        margin-bottom: 20vw;
    }
    .block_invest{
        background-image: url(../images/background/invest_768.png);
        justify-content: unset;
        width: 73vw;
        height: 100vw;
        scale: 1.05;
        margin:0 auto;
        margin-bottom: 20vw;
    }
    .block_invest > .linkBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56vw;
    }
    .block_invest > .linkBlock > .creditCard_button{
        margin-top: 0vw;
        margin-left: 0vw;
        width: 40vw;
        height: 11vw;
        margin:0 auto;
    }

    .block_sliderLoan{
        width:100%;
        margin-left: 0vw;
    }
    .slide_loan{
        height: 74vw;
    }
    .slide > img {
        max-width: 46vw;
    }
    .slide_Pic > img {
        width:100%;
        height:auto;
    }
    .sliderButton_loan{
        width: 100%;
        gap: 40vw;
    }
    .button_slideService {
        width: 40vw;
        height: 11vw;
    }
    .slick-prev, .slick-next {
        width: 4.5vw; /* Increased size */
        height: 4.5vw; /* Increased size */
    }
    .slick-prev:before, .slick-next:before {
        width: 4.5vw; /* Increased size */
        height: 4.5vw; /* Increased size */
        font-size: 3vw;
    }
    #content1 > .serviceImg{
        background-image: url(../images/background/card_1_768.png);
    }
    #content2 > .serviceImg{
        background-image: url(../images/background/card_2_768.png);
    }
    #content3 > .serviceImg{
        background-image: url(../images/background/card_3_768.png);
    }
    #content4 > .serviceImg{
        background-image: url(../images/background/card_4_768.png);
    }
    .serviceImg{
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90vw;
    }
    .serviceImg > .hint{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 18vw;
    }

    .serviceImg > .space,.serviceImg > .hint > .space{
        width:24vw;
        height:0vw;
    }
    .serviceImg > .space,.serviceImg > .hint > .creditCard_button{
        width:40vw;
        height:11vw;
    }
    .right-align {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    
    }
    .full-width-container {
        width: 100%;
    }
    .full-width-container {
        width: 100%;
        display: block;
    }
    .full-width-container img {
        display: block;
        width: 100%;
    }

    /* footerinf */
    .block_sub{
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        height: auto;
      }
      .placeA, .placeB {
        width: 90%;
        height: 100vw;
      }
      .placeA {
        background-image: url(../images/background/InfB_1b.png);
        position: relative;
        left: 0%;
        margin-left: 10%;
      }
      .placeB {
        background-image: url(../images/background/InfB_2b.png);
        position: relative;
        left: -9%;
      }
      .placeC{
        background-image: url(../images/background/infB_3b.png);
        width:100%;
        height: 100vw;
      }
      .placeA > .button_slideService,
      .placeB > .button_slideService,
      .placeC > .button_slideService {
        width: 37vw;
        height: 10vw;
        left: 52%;
        bottom: 7vw;
      }
}
@media screen and (max-width: 980px){
    .test{
        width:80%;
    }
    /* Block_banner */
    .animation_1024{
        display: none;
    }
    .agentButton_1024{
        display: none;
    }
    .animation_768{
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block_agent{
        display: flex;
        flex-direction: column;
    }
    .agent {
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
    .agent > .agentButton{
        display: none;
    }
    .agent > .agentPic{
        width: 50vw;
        height: 39vw;
    }
    .block_boss{
        
    }
    .block_boss > .agentButton{
        display: block;
        margin-top:-6vh;
    }
    .boss {
        width: 60vw;
        height: 80vw;
        margin-top: -14vw;
    }
    .boss > .bossBackground {
        height:415px;
    }
    .bossRighthand{
        margin-right: 30vw;
        margin-bottom: 6vw;
    }
    .bossLefthand{
        margin-right: 8vw;
        margin-top: 13vw;
    }
    .agentButton {
        width: 33vw;
        height: 9vw;
    }
    .Block_service{
        background-color: #F4FFFF;
    }
    .creditCard_menu {
        width: 100%;
        flex-wrap: wrap; /* 允許換行 */
        row-gap: 1vw;
        column-gap: 2vw;
        height: 14vw;
    }
    .creditCard_menu a {
        flex: 0 0 calc(50% - 10px); /* 每個按鈕佔50%的寬度，減去間距 */
        margin-bottom: 10px; /* 下方間距 */
        font-size: 3vw;
        font-weight: 700;
    }
    .banner{
        background-image: url(../images/banner/KVBackground_768.png);
        background-position: 100% 100%;
        height: 1000px;
    }
    
    /* end Block_banner */

    /* Block_service */
    .Block_service{
        height:950px;
    }
    .Block_service > .container{
        width:100%;
    }
    .sectionA_MenuA{
        background-size: contain;
        height:800px;
    }
    .serviceA_MenuButton{
        flex-direction: column;
        gap: 1vw;
        bottom: 13vw;
    }
    .serviceA_MenuButton > button {
        height: 8vw;
        width: 95%;
        font-size: 3vw;
        box-shadow: 2px 2px 10px #94fffa ;
    }
    .bt_l,.bt_r{
        width: 4vw;
        height: 2vw;
    }
    .bt_l {
        margin-left: 1.5vw;
        margin-top: 1vw;
    }
    .bt_r {
        margin-right: 0.25vw;
        margin-top: 2.5vw;
    }
    /* .serviceA_MenuButton > button:nth-child(1){
        background-image: url(../images/button/sectionA_1_default_long.png);
        background-position: center;
    } */
    /* .serviceA_MenuButton > button:nth-child(2){
        background-image: url(../images/button/sectionA_2_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(3){
        background-image: url(../images/button/sectionA_3_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(4){
        background-image: url(../images/button/sectionA_4_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(5){
        background-image: url(../images/button/sectionA_5_default_long.png);
        background-position: center;
    } */
    /* end Block_service */
    #content1 > .serviceImg{
        background-image: url(../images/background/card_1_768.png);
    }
    #content2 > .serviceImg{
        background-image: url(../images/background/card_2_768.png);
    }
    #content3 > .serviceImg{
        background-image: url(../images/background/card_3_768.png);
    }
    #content4 > .serviceImg{
        background-image: url(../images/background/card_4_768.png);
    }
    .serviceImg{
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 100vw;
        margin: 0 auto;
    }
    .serviceImg > .hint{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 18vw;
    }

    .serviceImg > .space,.serviceImg > .hint > .space{
        width:24vw;
        height:0vw;
    }
    .creditCard_button{
        width:25vw;
        height:7vw;
    }
    .content {
        margin-top:100px;
    }
    .card_Service {
        background-size: cover;
        height:10vh;
    }
    .sectionA_MenuA{
        background-image:url(../images/common/sectionA_768.png);
    }
    .Block_footerInf{
        padding-top: 10vw;
    }
    .full-width-container {
        width:75%;
        height:25vw;
        margin-top: -5vw;
    }
    .block_place_inf {
        margin-top: -5vw;
    }
}
@media screen and (max-width: 820px){
    .test{
        width:80%;
    }
    /* Block_banner */
    .animation_1024{
        display: none;
    }
    .agentButton_1024{
        display: none;
    }
    .animation_768{
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block_agent{
        display: flex;
        flex-direction: column;
    }
    .agent {
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
    .agent > .agentButton{
        display: none;
    }
    .agent > .agentPic{
        width: 60vw;
        height: 49vw;
    }
    .block_boss > .agentButton{
        display: block;
        margin-top:-6vh;
    }
    .boss {
        width: 60vw;
        height: 80vw;
        margin-top: -14vw;
    }
    .boss > .bossBackground {
        height:415px;
    }
    .bossRighthand{
        margin-right: 30vw;
        margin-bottom: 6vw;
    }
    .bossLefthand{
        margin-right: 8vw;
        margin-top: 13vw;
    }
    .block_boss > .agentButton {
        width: 50vw;
        height: 13vw;
    }
    .Block_service{
        background-color: #F4FFFF;
    }
    .creditCard_menu {
        width: 100%;
        flex-wrap: wrap; /* 允許換行 */
    }
    .creditCard_menu a {
        flex: 0 0 calc(50% - 10px); /* 每個按鈕佔50%的寬度，減去間距 */
        margin-bottom: 10px; /* 下方間距 */
    }
    .banner{
        background-image: url(../images/banner/KVBackground_768.png);
        background-position: 100% 100%;
        height: 1000px;
    }

    /* end Block_banner */

    /* Block_service */
    .Block_service{
        height:950px;
    }
    .Block_service > .container{
        width:100%;
    }
    .sectionA_MenuA{
        background-size: contain;
        height:800px;
    }
    .serviceA_MenuButton{
        flex-direction: column;
        gap: 1vw;
        bottom: 13vw;
    }
    .serviceA_MenuButton > button {
        height: 8vw;
        width: 95%;
        font-size: 3vw;
        box-shadow: 2px 2px 10px #94fffa ;
    }
    .bt_l,.bt_r{
        width: 4vw;
        height: 2vw;
    }
    .bt_l {
        margin-left: 1.5vw;
        margin-top: 1vw;
    }
    .bt_r {
        margin-right: 0.25vw;
        margin-top: 2.5vw;
    }
    /* .serviceA_MenuButton > button:nth-child(1){
        background-image: url(../images/button/sectionA_1_default_long.png);
        background-position: center;
    } */
    /* .serviceA_MenuButton > button:nth-child(2){
        background-image: url(../images/button/sectionA_2_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(3){
        background-image: url(../images/button/sectionA_3_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(4){
        background-image: url(../images/button/sectionA_4_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(5){
        background-image: url(../images/button/sectionA_5_default_long.png);
        background-position: center;
    } */
    /* end Block_service */
    .content {
        margin-top:100px;
    }
    .card_Service {
        background-size: cover;
        height: 90px;
    }
    .sectionA_MenuA{
        background-image:url(../images/common/sectionA_768.png);
    }
    #content1 > .serviceImg{
        background-image: url(../images/background/card_1_768.png);
    }
    #content2 > .serviceImg{
        background-image: url(../images/background/card_2_768.png);
    }
    #content3 > .serviceImg{
        background-image: url(../images/background/card_3_768.png);
    }
    #content4 > .serviceImg{
        background-image: url(../images/background/card_4_768.png);
    }
    .serviceImg{
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 100vw;
        margin:0 auto;
        margin-bottom: 20vw;
    }
    .serviceImg > .hint{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 18vw;
    }

    .serviceImg > .space,.serviceImg > .hint > .space{
        width:24vw;
        height:0vw;
    }
    .creditCard_button{
        width:25vw;
        height:7vw;
    }
    .card_Service{
        height:7vh;
    }
}
@media screen and (max-width: 768px){
    
    .test{
        width:80%;
    }
    /* Block_banner */
    .animation_1024{
        display: none;
    }
    .animation_768{
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block_agent{
        flex-direction: column;
    }
    .agent {
        margin-top: 9vh;
        margin-bottom: 0vh;
    }
    .block_boss > .agentButton {
        width: 50vw;
        height: 13vw;
    }
    .agent > .agentPic{
        width: 60vw;
        height: 49vw;
    }
    .agentButton_1024{
        display: none;
    }
    .agent > .agentButton{
        display: none;
    }
    .block_boss{
        margin-top:-10vh;
    }
    .block_boss > .agentButton{
        display: block;
        margin-top:-5vh;
    }
    .boss {
        height: 97vw;
        width: 80vw;
        margin-top:0;
    }
    .Block_service{
        background-color: #F4FFFF;
    }
    .creditCard_menu {
        width: 100%;
        flex-wrap: wrap; /* 允許換行 */
    }
    .creditCard_menu a {
        flex: 0 0 calc(50% - 10px); /* 每個按鈕佔50%的寬度，減去間距 */
        margin-bottom: 10px; /* 下方間距 */
    }
    .banner{
        background-image: url(../images/banner/KVBackground_768.png);
        background-position: bottom;
        height: 1100px;
    }
    /* end Block_banner */

    /* Block_service */
    .Block_service{
        height:950px;
    }
    .Block_service > .container{
        width:100%;
    }
    .sectionA_MenuA{
        background-size: contain;
        height:650px;
    }
    .serviceA_MenuButton{
        flex-direction: column;
        gap: 1vw;
        bottom: 13vw;
    }
    .serviceA_MenuButton > button {
        height: 8vw;
        width: 95%;
        font-size: 3vw;
        box-shadow: 2px 2px 10px #94fffa ;
    }
    .bt_l,.bt_r{
        width: 4vw;
        height: 2vw;
    }
    .bt_l {
        margin-left: 1.5vw;
        margin-top: 0vw;
    }
    .bt_r {
        margin-right: 0.25vw;
        margin-top: 2.5vw;
    }
    /* .serviceA_MenuButton > button:nth-child(1){
        background-color: #007fe0;
        color:#fff;
        border:#94fffa solid 2px;
    }
    .serviceA_MenuButton > button:nth-child(2){
        background-image: url(../images/button/sectionA_2_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(3){
        background-image: url(../images/button/sectionA_3_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(4){
        background-image: url(../images/button/sectionA_4_default_long.png);
        background-position: center;
    }
    .serviceA_MenuButton > button:nth-child(5){
        background-image: url(../images/button/sectionA_5_default_long.png);
        background-position: center;
    } */
    /* end Block_service */

    .content {
        margin-top:100px;
    }
    .card_Service {
        background-size: cover;
        height: 10vw;
    }
    .sectionA_MenuA{
        background-image:url(../images/common/sectionA_768.png);
    }
    .service_creditCard {
        padding-left: 0;
        padding-right: 0;
        height:900px;
    }

    .col-lg-6 {
        width: 100%;
    }

    
}
@media screen and (max-width: 680px){
    /* 標題文字 */
    .strokeText {
        font-size: 9vw;
    }
    .subTitle {
        font-size: 4.5vw;
        line-height: 7vw;
        margin-top: 10vw;
        width: 80%;
    }

    /* 輪播 */
    .banner {
        height:1100px;
    }
    .block_boss > .agentButton {
        width: 60vw;
        height: 16vw;
    }

    .test{
        width:80%;
    }
    .sectionA_MenuA{
        background-size: contain;
        height:550px;
    }
    .serviceA_MenuButton > button {
        height:8vw;
    }
    .serviceA_MenuButton{
        flex-direction: column;
        gap: 1vw;
        bottom: 8vw;
    }
    .creditInf{
        background-image: url(../images/background/bg_onlineService_B.png);
        width: 100%;
        height: 120vw;
        margin-bottom: 20vw;
        margin-top: 10vw;
    }
    .service_Digital{
        background-image: url(../images/background/bg_digitalService_B.png);
        width: 100%;
        height: 800px;
        margin-top:10vw;
        margin-bottom: 20vw;
        position: relative;
    }
    .service_Loan {
        background-image: url(../images/background/bg_loanService_B.png);
        height:800px;
        margin-bottom: 20vw;
        position: relative;
    }
    .Block_information{
        background-image: url('../images/background/body_bg_768.png');
    }
    /* 信用卡熱門 */
    .serviceImg {
        margin-bottom: 20vw;
    }
    .block_title_Pic {
        width:100%;
    }
    .creditCard_menu {
        margin-top:10vw;
    }
    .creditCard_button,.button_slideService{
        width:40vw;
        height:11vw;
    }
    .block_invest > .linkBlock > .creditCard_button {
        width:40vw;
        height:11vw;
    }
    .block_invest {
        margin-bottom: 20vw;
    }
    
}
@media screen and (max-width: 490px){
    .strokeText::before {
        position: absolute;
        z-index: -1;
        -webkit-text-stroke: 10px #fff;
        text-stroke: 5px #fff;
        text-shadow: 1px 1px 5px #94fffa,
                     1px 1px 15px #94fffa,
                     1px 1px 15px #94fffa,
    }
    .Block_information {
        background-image: url('../images/background/body_bg_360.png');
    }
    .test{
        width:80%;
    }
    /* Block_banner */
    .block_agent{
        flex-direction: column;
    }
    .agent {
        margin-top: 13vh;
        margin-bottom: 0vh;
    }
    .agent > .agentPic {
        width: 80vw;
        height: 62vw;
    }
    .agent > .agentButton{
        display: none;
    }
    .agentButton_1024{
        display: none;
    }
    .block_boss{
        margin-top:-10vh;
    }
    .block_boss > .agentButton{
        display: block;
        margin-top:-9vh;
        width: 73vw;
        height: 19vw;
    }
    .boss {
        margin-top: -4vh;
        margin-left:4vw;
        width:90vw;
        height:135vw;
    }
    .bossRighthand,.bossLefthand {
        width: 23vw;
        height: 16vw;
    }
    .bossRighthand {
        margin-right: 43vw;
        margin-bottom: 6vw;
    }
    .creditCard_menu {
        width:100%;
        flex-wrap: wrap; /* 允許換行 */
    }
    .creditInf {
        height:800px;
        position: relative;
    }
    .Block_service{
        background-color: #F4FFFF;
        margin-bottom: 20vw;
    }
    .creditCard_menu a {
        flex: 0 0 calc(50% - 10px); /* 每個按鈕佔50%的寬度，減去間距 */
        margin-bottom: 10px; /* 下方間距 */
        height: 11vw;
        font-size: 4vw;
    }
    .creditCard_menu > a:nth-child(2),.creditCard_menu > a:nth-child(4){
        column-gap: 0;
    }
    .banner{
        background-image: url(../images/banner/KVBackground_360.png);
        height:930px;
    }
    /* end Block_banner */

    /* Block_service */
    .Block_service > .container{
        width:100%;
    }
    .serviceA_MenuButton{
        flex-direction: column;
    }
    .serviceA_MenuButton > button {
        height:13vw;
        font-size: 4vw;;
    }
    /* end Block_service */

    .content {
        margin-top:100px;
    }
    .card_Service {
        background-size: cover;
        height: 90px;
    }
    .sectionA_MenuA{
        background-image:url(../images/common/sectionA_480.png);
        background-size: 100% 100%;
        width:100%;
        height:861px;
        margin-top:20vw;
        position: relative;
    }
    .serviceA_MenuButton {
        flex-direction: column;
        gap: 4vw;
        margin-top: 0vw;
        position: absolute;
        bottom: 16vw;
    }
    .custom-button:hover{
        background-color: inherit; /* 繼承父元素的背景顏色 */
        color: inherit; /* 繼承父元素的文字顏色 */
    }
    .service_creditCard{
        padding-left:0px;
        padding-right:0px;
    }
    .serviceImg{
        width: 100%;
        height: 700px;
        margin-bottom: 20vw;
        position: relative;
    }
    .serviceImg > .hint {
        width:100%;
        height:23vw;
    }
    #content1 > .serviceImg{
        background-image: url(../images/background/card_1_360.png);
    }
    #content2 > .serviceImg{
        background-image: url(../images/background/card_2_360.png);
    }
    #content3 > .serviceImg{
        background-image: url(../images/background/card_3_360.png);
    }
    #content4 > .serviceImg{
        background-image: url(../images/background/card_4_360.png);
    }
    
    .creditCard_button {
        width: 44vw;
        height: 13vw;
        margin-top:-6vw;
    }
    .block_invest {
        background-image: url(../images/background/invest_360.png);
        width: 100%;
        height: 900px;
    }
    .block_invest > .linkBlock {
        height:70vw;
    }
    .block_invest > .linkBlock > .creditCard_button {
        margin-top: 60vw;
        width: 44vw;
        height: 13vw;
    }
    .creditInf {
        margin-bottom: 20vw;
        margin-top: 13vw;
    }
    .strokeText {
        font-size: 10vw;
    }
    .subTitle {
        font-size: 4.5vw;
        line-height: 7vw;
        margin-top: 8vw;
    }
    .slide > img {
        max-width: 80vw;
    }
    .slick-prev, .slick-next {
        width: 8vw; /* Increased size */
        height: 8vw; /* Increased size */
    }
    .slick-prev:before, .slick-next:before {
        width: 8vw; /* Increased size */
        height: 8vw; /* Increased size */
        font-size: 4vw;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px !important;
        height: 570px;
    }
    .creditCard_button,.serviceImg > .hint > .creditCard_button, .button_slideService,.block_invest > .linkBlock > .creditCard_button {
        width: 60vw;
        height: 17vw;
    }

    .block_sliderLoan {
        position: relative;
        bottom: 7vw;
    }
    .block_sliderLoan > .button_slideService{
        bottom:-17vw;
    }
    .creditInf > .button_slideService,.service_Digital > .button_slideService{
        bottom:13vw;
    } 
    .slick-dotted.slick-slider {
        height:650px;
    }
    .slick-dots {
        bottom:22vw;
    }
    /* .slide_digital > .slick-dots{
        bottom:22vw;
    } */

    /* footerInf */
    .placeA {
        background-image: url(../images/background/InfB_1c.png);
        left:12%;
      }
      .placeB {
        background-image: url(../images/background/InfB_2c.png);
        left:-12%;
      }
      .placeC{
        background-image: url(../images/background/infB_3c.png);
      }
      .placeA, .placeB {
        width: 360px;
        height: 558px;
      }
      .placeA > .button_slideService,.placeB > .button_slideService{
        bottom:4vw;
        width: 48vw;
        height: 13vw;
      }
}
@media screen and (max-width: 400px){
    .banner{
        background-image: url(../images/banner/KVBackground_360.png);
        height:560px;
    }
    .Block_service {
        height: 850px;
        padding-top:20vw;
    }
    .creditInf {
        height:800px;
    }
    .agent {
        margin-top: 9vh;
    }
    .agent > .agentPic {
        width: 55vw;
        height: 44vw;
    }
    .sectionA_MenuA {
        height: 670px;
    }
    .block_invest > .linkBlock > .creditCard_button{
        margin-top:85vw;
    }
    .creditCard_button,.serviceImg > .hint > .creditCard_button, .button_slideService,.block_invest > .linkBlock > .creditCard_button {
        width: 60vw;
        height: 17vw;
    }
    
}